<div class="card">
  <div class="card-header">Se connecter</div>
  <div class="card-body">
    <%= form_for :user, url: sessions_path do |f| %>
      <div class="row mb-3">
        <div class="col-md-3">
          <%= f.label :login, "Nom d'utilisateur ou email", class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= f.text_field :login, class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3">
          <%= f.label :password, "Mot de passe", class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-9 offset-3">
          <button type="submit" class="btn btn-primary">
            Se connecter
          </button>
          <a href="<%= new_password_path %>" class="btn btn-default">Mot de passe oublié</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
