<h1>Bonjour, <%= @user.firstname %> <%= @user.lastname %></h1>

<p>
  Merci <%= @user.username %>
</p>

<p>
  Valider compte via <%= confirm_user_url(@user.id, token: @user.confirmation_token) %>
</p>
