Bonjour, <%= @user.firstname %> <%= @user.lastname %>


Regénérer mot de passe de votre compte compte via <%= edit_password_url(@user.id, token: @user.recover_password) %>


Merci <%= @user.username %>

