<h1>Bonjour, <%= @user.firstname %> <%= @user.lastname %></h1>

<p>
  Regénérer mot de passe de votre compte compte via <%= link_to "Regénérer mdp", edit_password_url(@user.id, token: @user.recover_password) %>
</p>


<p>
  Merci <%= @user.username %>
</p>

