<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="card">
  <div class="card-header">Profil</div>
  <div class="card-body">
    <%= form_for @user, url: profil_path do |f| %>
      <div class="row mb-3">
        <div class="col-md-3">
          <%= image_tag @user.avatar_url if @user.avatar? %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3">
          <%= f.label :avatar_file, "Avatar", class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= f.file_field :avatar_file, class: "form-control" %>
        </div>
      </div>


      <div class="row mb-3">
        <div class="col-md-3">
          <%= f.label :username, "Nom d'utilisateur", class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= f.text_field :username, class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3">
          <%= f.label :email, "Email", class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3">
          <%= f.label :firstname, "Prénom", class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= f.text_field :firstname, class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3">
          <%= f.label :lastname, "Nom", class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= f.text_field :lastname, class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-9 offset-3">
          <button type="submit" class="btn btn-primary">
            Modifier
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
