<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="card">
  <div class="card-header">S'inscrire</div>
  <div class="card-body">
    <%= form_for @user do |f| %>
      <div class="row mb-3">
        <div class="col-md-3">
          <%= f.label :username, "Nom d'utilisateur", class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= f.text_field :username, class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3">
          <%= f.label :email, "Email", class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3">
          <%= f.label :password, "Mot de passe", class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3">
          <%= f.label :password_confirmation, "Confirmation mot de passe", class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-9 offset-3">
          <button type="submit" class="btn btn-primary">
            S'inscrire
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
