<div class="card">
  <div class="card-header">Mot de passe oublié</div>
  <div class="card-body">
    <%= form_for :user, url: passwords_path do |f| %>
      <div class="row mb-3">
        <div class="col-md-3">
          <%= f.label :email, "Email", class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-9 offset-3">
          <button type="submit" class="btn btn-primary">
            Envoyer le lien
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
